# Database
db.sqlite3
db.sqlite3-journal 

# Python cache files
__pycache__/
*.py[cod]

# Database files
db.sqlite3
db.sqlite3-journal

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Environment variables
.env

# Static files
/static/
media/

# IDE files
.vscode/
.idea/
*.swp

node_modules/
venv/